@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @apply transition-all duration-[10ms]
}

.desc a{
  text-decoration: underline;
  color:crimson;
}

@layer components{
  .container{
    @apply px-5 mx-auto w-full sm:w-[98%] md:w-[720px] lg:w-[960px] xl:w-[1140px] 2xl:w-[1320px];
  }
}

.ql-container{
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before{
  color: #b3b3b1;
}

.my-custom-scrollbar {
  scrollbar-arrow-color: transparent;
  scrollbar-color: #555  transparent;
  scrollbar-width: thin;
}
